<!--
    ioBroker.vis template Widget-Set

    version: "0.0.1"

    Copyright 2019 Author author@mail.com
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/calendar/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/calendar/js/calendar.js"></script>

<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39

    ----------------------------------------------------------
    Mandatory XML attributes:
        id="tplTemplateWIDGETNAME"
        type="text/ejs"
        class="vis-tpl"

        "type" and "class" are always the same. "id" is unique and must start with "tplSETNAME" and ends with widget name. Use camel-case for it.

    ----------------------------------------------------------
    data-vis-attrs - divided with semicolon the list of attributes, like attr1/id;attr2/color
        Full format of one attribute is: attr_name(start-end)[default_value]/type,idFilter/onChangeFunc
            attr_name - the name of the attribute, e.g. "myID"
            start-end - creates automatically attributes from attr_namestart to attr_nameend, like "myID(1-3)" creates myID1, myID2, myID3
            default_value - by creation of widget this attribute will be filled with this value, e.g. "myID[#001122]/color"
            type - some predefined types have edit helpers, else it will be shown as text field

                Type format:
                      id - Object ID Dialog
                      checkbox
                      image - image
                      number,min,max,step - non-float number. min,max,step are optional
                      color - color picker
                      views - Name of the view
                      effect - jquery UI show/hide effects
                      eff_opt - additional option to effect slide (up, down, left, right)
                      fontName - Font name
                      slider,min,max,step - Default step is ((max - min) / 100)
                      select,value1,value2,... - dropdown select
                      nselect,value1,value2,... - same as select, but without translation of items
                      style,fileFilter,nameFilter,attrFilter
                      custom,functionName,options,... - custom editor - functionName is starting from vis.binds.[widgetset.funct]. E.g. custom/timeAndWeather.editWeather,short
                      group.name - define new or old group. All following attributes belongs to new group till new group.xyz
                      group.name/byindex - like group, but all following attributes will be grouped by ID. Like group.windows/byindex;slide(1-4)/id;slide_type(1-4)/select,open,closed  Following groups will be created Windows1(slide1,slide_type1), Windows2(slide2,slide_type2), Windows3(slide3,slide_type3), Windows4(slide4,slide_type4)
                      text - dialog box with html editor
                      html - dialog box with html editor

                If type is "id", you can define filer for "Select ID Dialog", like "myID/id,level.temperature".
                Additionally you can define callback(onChangeFunc), which will be called if this attribute was changed by user for different purposes: validate entry, fill other attributes, ...

        You can define additional data-vis-attrs line: data-vis-attrs0, data-vis-attrs1. Anyway data-vis-attrs must be there. You may not skip numbers.
        E.g. in "data-vis-attrs="A;" data-vis-attrs1="B" attribute B will be not parsed.

    --------------------------------------------------------
    data-vis-type
        Help information for user. Used for search.
        You can define more than one type divided by comma.
        There are following common types, but you can use your own specific types:
            ctrl   - widget that can write some Object IDs
            val    - widget that shows some information from Object IDs
            static - widget do not read information from Object IDs or URL
            button - button widget
            dimmer - dimmer widget
            weather - weather widget
            ...

    --------------------------------------------------------
    data-vis-set
        Name of the widget set. Must be equal to the name of this HTML file

    --------------------------------------------------------
    data-vis-prev
        Html code used as preview of this widget. If widget is complex you can just use image as preview:
        data-vis-prev='<img src="widgets/hqwidgets/img/prev/Prev_tplTemplateShowInstance.png"></img>'
        Of course the image must exist.

    --------------------------------------------------------
    data-vis-name
        Readable name of widget shown in vis editor.

    --------------------------------------------------------
    data-vis-beta="true"
        Shows "BETA" symbol in vis editor by preview

    --------------------------------------------------------
    data-vis-update-style="true"
        Call redraw of widget if some of the CSS styles in editor for this widget was changed

    You can read about Magic tags here: http://canjs.com/guides/EJS.html
    Following magic tags are exist:
        <% %> - execute javascript
        <%= %> - place escaped result to HTML document
        <%== %> - place unescaped result to HTML document

    You can do "if" conditions and "for" cycles.

-->
<script>

var events = new Array();
var date_memory;

// get current list
function renderPage(wid) {
vis.conn.getStates(wid + '*', function (err, states) {

    //events = states;

    for(var state in states) {
        
        if(state.endsWith("events")) {

            var day = state.replace("events", "");
            var eventCount = states[state].val;

            var newDate = {};
            newDate.date = states[day + "date"].val;
            newDate.eventCount = eventCount;

            var newArray = [];

            for(var i = 0; i < eventCount; i++) {
                var newEvent = {};
                newEvent.description = states[day + i + ".description"].val
                newEvent.endTime = states[day + i + ".endTime"].val
                newEvent.startTime = states[day + i + ".startTime"].val
                newEvent.summary = states[day + i + ".summary"].val

                newArray.push(newEvent);
            }

            newDate.events = newArray;
            events.push(newDate);
        }
    }

    /*var currentList = JSON.parse(states[bringListId[wid]].val);
            var itemWoDescriptionReplaced = itemWoDescription.replace(/ /g, '_');
            desc = desc ? desc : (item.split(',').length > 1) ? item.substring(item.indexOf(',') + 1).trim() : '';
            var existence = document.getElementById(wid + '-' + itemWoDescriptionReplaced);
            var currentDesc = existence ? existence.getAttribute('data-desc') : null;

            // Translate to list language
            var nameFromDict = bringDict[wid][itemWoDescription] ? bringDict[wid][itemWoDescription] : itemWoDescription;

            // set state in backend - do this before existence check because description may have changed
            vis.conn.setState(bringSaveId[wid], itemWoDescription + (desc ? ',' + desc : ''), false);

            // if item is already on list --> return
            for (var i = 0; i < currentList.length; i++) {
                if (((currentList[i].name === itemWoDescription && currentList[i].specification === desc) && !removedLastFiveSeconds[wid][itemWoDescription])
                    || (existence !== null && (desc === currentDesc))) return;
            } // endFor

            var alternative = nameFromDict.substring(0, 1).toLowerCase();
            if (/^(ä|ö|ü)/g.test(alternative)) {
                alternative = alternative.replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue');
            } // endIf

            addedLastFiveSeconds[wid][item] = true;
            setTimeout(function () {
                addedLastFiveSeconds[wid][item] = false;
            }, 5000);

            // if item is there but description changed, remove item
            if (currentDesc !== null && (desc !== currentDesc)) existence && existence.parentNode && existence.parentNode.removeChild(existence);

            // if item exists in recent items --> remove it because it is now on active items list
            $('#' + wid + '-recent_' + itemWoDescription.replace(/ /g, '_')).remove();

            // add item instant to widget
            var html = '<div class="bring-item" data-desc="' + desc + '" id=' + wid + '-' + itemWoDescriptionReplaced +
                ' onclick="vis.binds[\'bring\'].onclick(this)" ' +
                'style="max-width: ' + maxWidth + 'px; min-width: ' + maxWidth + 'px; ' +
                'max-height: ' + maxWidth + 'px; min-height: ' + maxWidth + 'px;"' +
                ' data-item="' + itemWoDescription.replace(/ /g, '_') + '"> ' +
                '<img src="https://web.getbring.com/assets/images/items/' + itemWoDescriptionReplaced.toLowerCase()
                    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue') + '.png" ' +
                'onerror="this.src=\'https://web.getbring.com/assets/images/items/' + alternative + '.png\'" ' +
                'alt=' + itemWoDescription + ' class="item-image" id="' + wid + '-img-' + itemWoDescriptionReplaced + '"' +
                'style="height: calc(0.43 * ' + maxWidth + 'px); padding-top: calc(0.172 * ' + maxWidth + 'px)">' +
                '<div class="item-name" style="height: calc(0.2013 * ' + maxWidth + 'px);' +
                'margin-top: calc(-0.0431 * ' + maxWidth + 'px;">' +
                nameFromDict +
                '</div>' +
                '<div class="item-desc" style="height: calc(0.2155 * ' + maxWidth + 'px);' +
                'margin-top:calc(-0.0431 * ' + maxWidth + 'px);">' +
                desc +
                '</div></div>';

            $('#' + wid + '-shoppinglist').append(html);

            item = document.getElementById(wid + '-' + itemWoDescriptionReplaced);
            try {
                // resize item name
                var resizeText = item.getElementsByClassName('item-name')[0];
                textFit(resizeText, {maxFontSize: 0.112 * maxWidth, detectMultiLine: false});

                // resize item desc
                var resizeItemDesc = item.getElementsByClassName('item-desc')[0];
                textFit(resizeItemDesc, {maxFontSize: 0.0948 * maxWidth, detectMultiLine: false});
            } catch (e) {
                console.warn(new Date().toLocaleTimeString() + ' Bring[' + wid + ']: Cannot resize text for item ' + wid + '-' + itemWoDescriptionReplaced + ': ' + e);
            } // endCatch*/
        });
    }

    function iniCalendar() {
        //heutiges Datum setzen
        var d = new Date();
        //aktuelles Datum speichern
        setDateToMemory(d);
        //Calender laden
        loadcalendar();
    }

    /**
    * Läd die Tabelle mit dem übergebenen Datum (Monat)
    */
    function loadcalendar()
    {
    //aktuelles Datum holen (1. des Monats)
    var d = getDateFromMemory();
    //Monat ermitteln aus this_date (zählen beginnt bei 0, daher +1)
    var m = d.getMonth();
    //Jahr ermitteln aus this_date (YYYY)
    var y = d.getFullYear();
    //Monat und Jahr eintragen
    //document.all.calendar_month.innerHTML = getMonthname(m+1) + " " + y;
    document.getElementById("calendar_month").innerHTML = getMonthname(m+1) + " " + y;
    
    //ersten Tag des Monats festlegen
    var firstD = d;
    firstD.setDate(1);
    //Wochentag ermitteln vom 1. des übergebenen Monats (Wochentag aus firstD)
    var dateDay = firstD.getDay(); //So = 0, Mo = 1 … Sa = 6
    //Sonntag soll den Wert 7 darstellen -> Mo = 1 … So = 7
    dateDay = (dateDay == 0) ? 7: dateDay;
    //Speicher für aktuelle Zelle
    var entry = "";
    //Speicher für aktuellen Tag
    var zahl = "";
    //heutiges Datum ermitteln
    var hD = new Date();
    //ist event
    //falls event, dann darf der Rahmen
    //nicht vom isHolyday überschrieben werden
    var bEvent = false;

    //Alle Kalender Spalten durchzählen
    for (var i = 1; i <= 42; i++)
    {
    bEvent = false;

    //holen der aktuellen Zelle
    entry = document.getElementById("calendar-entry-" + i);
    //errechnen der Tages Zahl
    zahl = (i + 1) - dateDay;
    //datum zusammenschreiben
    var dx = new Date(y, m, zahl);

    //Eintragen der Daten ab ersten Tag im Monat und wenn es ein gültiges Datum ist
    if (i >= dateDay && isValidDate(y, m, zahl))
    {
    //entry.innerHTML = "<a class=calendar_link href=javascript:putDate(" + zahl +")>" + zahl + "</a>";
    entry.innerHTML = "<div>" + zahl + "</div>";

    if(entry.classList.contains("calendar-entry-invisible")) entry.classList.remove("calendar-entry-invisible");
    
    //Listener hinzufügen
    entry.onclick = function(event) {openDateDetails(event.currentTarget.children[0].innerHTML)};
    
    //Events hinzufügen
    entry.appendChild(getEvents(y, m, zahl));

    //Wenn Tag ein Feiertag ist
    /*if (isHoliday(m, zahl)) {
        entry.style.color="#FF0000";
    } else {
        if (!bEvent) entry.style.color="#000000";
    }*/
    
    //heutiges Datum hervorheben
    if (hD.getDate() == dx.getDate() &&
    hD.getMonth() == dx.getMonth() &&
    hD.getYear() == dx.getYear()) {
        if(!entry.classList.contains("calendar-entry-today")) entry.classList.add("calendar-entry-today");
    } else {
        if(entry.classList.contains("calendar-entry-today")) entry.classList.remove("calendar-entry-today");
    }

    }
    else
    {
    entry.innerHTML = "";

    if (i>= dateDay)
    {//Wenn Kalenderende
    //Zelle = hidden
    //entry.hidden = true;
    //entry.style.border = "0px"; 
    if(!entry.classList.contains("calendar-entry-invisible")) entry.classList.add("calendar-entry-invisible");
    }
    else
    {//Wenn Kalenderanfang
    //Border-width = 0px
    //entry.style.border = "0px";
    if(!entry.classList.contains("calendar-entry-invisible")) entry.classList.add("calendar-entry-invisible");
    }
    }
    }
    }

    /**
    * schaltet einen Monat Weiter
    */
    function nextMonth() {
        var d = getDateFromMemory();
        var m = d.getMonth() + 1;
        var y = d.getFullYear();

        //Falls Jahres wechsel
        if ((m + 1) > 12) {
            m = 0;
            y = y + 1;
        }

        d = new Date(y, m, 01);
        setDateToMemory(d);
        loadcalendar();
    }
    /**
    * schaltet einen Monat zurück
    */
    function prevMonth() {
    var d = getDateFromMemory();
    var m = d.getMonth()+1;
    var y = d.getFullYear();
    //Falls Jahres1wechsel
    if ((m-1)<1)
    {
    m = 11;
    y = y - 1;
    }
    else
    {
    m = m - 2;
    }
    d = new Date(y,m,01);
    setDateToMemory(d);
    loadcalendar();
    }

    /**
    * Ist ein Datum gültig
    * @param y: Jahr
    * @param m: Monat
    * @param d: Tag
    * @return true = gültig, false = ungültig
    */
    function isValidDate(y, m, d) {
        //–Gibt Datum des letzten Tag des Monats aus–
        var thisDate = new Date(y, m, 1);
        //einen Tag weiter schalten
        thisDate.setMonth(thisDate.getMonth() + 1);
        //vom ersten Tag des nächsten monats
        //ein Tag abziehen
        thisDate.setTime(thisDate.getTime() - 12*3600*1000)

        if (d>thisDate.getDate()) {
            return false;
        } else {
            return true;
        }
    }

    /**
* setzt das übergebene Datum in die Speicherzelle
* @param d: datum zum schreiben in die Speicherzelle
*/
function setDateToMemory(d) {
    //document.getElementById("date_memory").innerHTML = d.getFullYear() + "," + (d.getMonth() + 1) + "," + d.getDate();
    date_memory = d.getFullYear() + "," + (d.getMonth() + 1) + "," + d.getDate();
}
/**
* Gibt das Datum aus der Speicherzelle zurück
* @return: datum in Date format
*/
function getDateFromMemory() {
    //var s = document.getElementById("date_memory").innerHTML;
    var s = date_memory;
    var z = s.split(",");
    return new Date(z[0], z[1] - 1, z[2]);
}

/**
* Gibt den Monatsnamen anhand der Monatsnummer zurück
* @param monthnumber: Monatsnummer (1-12)
*/
function getMonthname(monthnumber) {
    switch(monthnumber) {
        case 1: return "Januar"; break;
        case 2: return "Februar"; break;
        case 3: return "März"; break;
        case 4: return "April"; break;
        case 5: return "Mai"; break;
        case 6: return "Juni"; break;
        case 7: return "Juli"; break;
        case 8: return "August"; break;
        case 9: return "September"; break;
        case 10: return "Oktober"; break;
        case 11: return "November"; break;
        case 12: return "Dezember"; break;
        default: return "-";
    }
}

/**
* Übernimmt das angeklickte Datum in das Ausgabeelement // Events anzeigen lassen zum tag
* @param n: Kalendertag zum Kombinieren mit Monat und Jahr
*/
function openDateDetails(n) {
    var d = getDateFromMemory();
    d.setDate(n);
    //document.forms["myform"].elements["datum"].value = d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear();
    //alert(d.getDate() + "." + (d.getMonth() + 1) + "." + d.getFullYear());

    var calendarEntryDetailContainer = document.getElementById("calendar-entry-detail-container");

    calendarEntryDetailContainer.children[0].children[0].innerHTML = ((d.getDate() < 10) ? "0" + d.getDate() : d.getDate()) + "." + 
    ((d.getMonth() + 1 < 10) ? "0" + (d.getMonth() + 1) : d.getMonth() + 1) + "." + d.getFullYear();

    if(calendarEntryDetailContainer.classList.contains("calendar-entry-detail-hidden")) calendarEntryDetailContainer.classList.remove("calendar-entry-detail-hidden");
}

function closeDateDetails() {

    var calendarEntryDetailContainer = document.getElementById("calendar-entry-detail-container");

    if(!calendarEntryDetailContainer.classList.contains("calendar-entry-detail-hidden")) calendarEntryDetailContainer.classList.add("calendar-entry-detail-hidden");
}

    /**
* Ist das Angegebene Datum ein Feiertag?
* @param m : Monat
* @param d : Tag
*/
function isHoliday(m,d) {
    //Monate fangen bei 0 an zuzählen
    m++;
    //festlegen der Feiertage
    var h = new Array(7);
    h[0] = "1.1";
    h[1] = "6.1";
    h[2] = "1.5";
    h[3] = "3.10";
    h[4] = "1.11";
    h[5] = "25.12";
    h[6] = "26.12";
    h[7] = "31.12";
    var iD;
    //Alle Daten Testen
    for ( var i = 0; i < h.length; i++) {
        iH = h[i].split(".");
        if (iH[0] == d && iH[1] == m) {
            return true;
        }
    }
    //Wenn kein Feiertag gefunden
    return false;
}

/**
 * regelt welche Rückgabe erfolgt.
 * 0 = geklicktes Datum wird zurückgegeben.
 * 1 = Veranstaltungstext aus getEventtext() 
 * 		wird zurückgegeben.
 */
 var returnModus = 0;

/**
 * Setzt die Art der Rückgabe bei, Datums-klick
 * @param returnIndex:
 * 		0 = geklicktes Datum zurückgeben
 * 		1 = event aus getEventtext()
 */
function setReturnModus(returnIndex) {
    returnModus = returnIndex;
}

    /**
* Prüft ob an einem bestimmten Tag Events stattfinden und gibt diese als Element zurück.
* @param int y: Jahr
* @param int m: Monat
* @param int d: tag
* @return Element,
*/
function getEvents(y, m, d) {
    //convertieren in int-Zahlen
    y = parseInt(y);
    m = parseInt(m);
    d = parseInt(d);

    //Monate fangen bei 0 an zuzählen
    m++;

    for(var i = 0; i < events.length; i++) {
        
        var date = events[i].date.split("T")[0].split("-");

        var year = parseInt(date[0]);
        var month = parseInt(date[1]);
        var day = parseInt(date[2]);

        if(year == y && month == m && day == d) {

            if(events[i].eventCount > 0) {

                var nodeEvents = document.createElement("div");
                nodeEvents.classList.add("calendar-event-container");

                for(var j = 0; j < events[i].eventCount; j++) {

                    var element = document.createElement("div");
                    element.classList.add("calendar-event");
                    
                    var text = document.createTextNode(events[i].events[j].summary);

                    element.appendChild(text);

                    nodeEvents.appendChild(element);
                }

                return nodeEvents;
            }
        }
    }

    return document.createTextNode("");
}
</script>

<script id="tplCalendarShowInstance"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/calendar/img/calendar.png" width="90%"></img>'
        data-vis-attrs="oid/id;"
        data-vis-attrs0="group.color;dayColor/color;"
        data-vis-set="calendar"
        data-vis-type="calendar"
        data-vis-name="Calendar">
    <div class="vis-widget calendar-container <%== this.data.attr('class') %>" style="width:800px; height:600px;" id="<%= this.data.attr('wid') %>" >
        <!--<div class="<%== this.data.attr('class') %>" style="background-color: <%= this.data.attr('backgroundColor') %>;">-->
        <table id="calendar" class="calendar">
            <tbody class="calendar-border-color">
                <!--<tr style="visibility:collapse;" hidden>
                    <td colspan=7 id="date_memory">—</td>
                </tr>-->
                <tr class="calendar-row-small calendar-border-color">
                    <td class="calendar-head" onclick="prevMonth()"><div>&laquo;</div></td>
                    <td colspan=5 class="calendar-head-month" id="calendar_month">-</td>
                    <td class="calendar-head" onclick="nextMonth()"><div>&raquo;</div></td>
                </tr>
                <tr class="calendar-row-small calendar-border-color" style="color: <%= this.data.attr('dayColor') %>;">
                    <td class="calendar-day">Mo</td>
                    <td class="calendar-day">Di</td>
                    <td class="calendar-day">Mi</td>
                    <td class="calendar-day">Do</td>
                    <td class="calendar-day">Fr</td>
                    <td class="calendar-day">Sa</td>
                    <td class="calendar-day">So</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-1">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-2">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-3">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-4">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-5">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-6">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-7">-x-</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-8">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-9">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-10">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-11">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-12">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-13">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-14">-x-</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-15">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-16">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-17">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-18">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-19">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-20">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-21">-x-</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-22">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-23">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-24">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-25">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-26">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-27">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-28">-x-</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-29">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-30">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-31">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-32">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-33">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-34">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-35">-x-</td>
                </tr>
                <tr class="calendar-row calendar-border-color">
                    <td class="calendar-entry" id="calendar-entry-36">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-37">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-38">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-39">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-40">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-41">-x-</td>
                    <td class="calendar-entry" id="calendar-entry-42">-x-</td>
                </tr>
            </tbody>
        </table>
        <div id="calendar-entry-detail-container" class="calendar-entry-detail calendar-entry-detail-hidden">
            <div class="calendar-entry-detail-content">
                <h3 style="margin: 0;"></h3>
                <span class="calendar-entry-detail-close" onclick="closeDateDetails()">CLOSE</span>
            </div>
        </div>
    </div>
    <% var that = this; %>
    <% /*setTimeout(function () {*/renderPage(that.data.attr('oid')); /*}, 50);*/ %>
    <% setTimeout(function () {iniCalendar(); setReturnModus(0);}, 100); %>
</script>